
<mat-sidenav-container>

    <mat-sidenav mode="side" opened class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">Fernando Gerundio</h4>
        <p class="designation">Gerente</p>
    
        <mat-divider></mat-divider>
        
        <button mat-button class="menu-button" [routerLink]="['/gerencia/dashboard']">
            <mat-icon>person</mat-icon>
            <span>Principal</span>
        </button>
        
        <button mat-button class="menu-button" [routerLink]="['/gerencia/clientes']">
            <mat-icon>person</mat-icon>
            <span>Clientes</span>
        </button>

    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
          <h1>Funciono</h1>
            <!-- <router-outlet></router-outlet> -->
            <!-- <app-calendar></app-calendar> -->
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>
