
<mat-sidenav-container>

    <mat-sidenav mode="side" opened class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="https://meragor.com/files/styles//ava_800_800_wm/avatar-211652-000853.png" />

        <h4 class="name">Fernando Gerundio</h4>
        <p class="designation">Gerente</p>
    
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/gerencia/principal']" *ngIf="rol == 'gerente'">
            <mat-icon>home</mat-icon>
            <span>Principal</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/gerencia/dashboard']" *ngIf="rol == 'gerente'">
            <mat-icon>calendar_month</mat-icon>
            <span>Planificacion</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/gerencia/presupuestos']" *ngIf="rol == 'gerente'">
            <mat-icon>topic</mat-icon>
            <span>Presupuestos</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/gerencia/facturas']" *ngIf="rol == 'gerente'">
            <mat-icon>receipt</mat-icon>
            <span>Facturas</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/gerencia/albaranes']" *ngIf="rol == 'gerente'">
            <mat-icon>description</mat-icon>
            <span>Albaranes</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/gerencia/clientes']" *ngIf="rol == 'gerente'">
            <mat-icon>person</mat-icon>
            <span>Clientes</span>
        </button>

        <button mat-button class="menu-button" [routerLink]="['/gerencia/trabajadores']" *ngIf="rol == 'gerente'">
            <mat-icon>engineering</mat-icon>
            <span>Trabajadores</span>
        </button>
       <app-logout></app-logout>

    </mat-sidenav>
    
    <mat-sidenav-content *ngIf="rol == 'gerente'">
        <div class="content mat-elevation-z8">
        <h2 class="title_table">Partes de Trabajo</h2>
         <app-table (newItemEvent)="addItem($event)"></app-table>
         <app-boton [parteTrabajoBoton]="partesTrabajoPadre"></app-boton>
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>