form {
    text-align: center;
}
h3{
    background-color: #002b5c;
    color: white;
}
.adjunto{
    margin-left: 40px;
}
.firma{
    margin-left: 5px;
}
.completar{
    background-color: #002b5c;
    color: white;
    margin-bottom: 10px;
}