.buttone{
    background-color: #002b5c;
    color: white;
    align-content: center;
    margin-top: 20px;
    margin-left: 12%;
    margin-bottom: 10px;
}
.dentro{
  margin-left: 1%;
}

.titulo{
    background-color: #002b5c;
    color: white;
    text-align: center;
}
.tablaformulario{
    border: #002b5c 2px solid;
    border-radius: 0.5%;
    
}