<br>
  <form [formGroup]="ParteForm" (ngSubmit)="guardarCambios()">
    <label class="cliente">
      <input class="form-control" type="text" placeholder="Cliente" formControlName="Cliente">
    </label>
    <label class="fecha">
      <input class="form-control" type="text" placeholder="fecha" formControlName="Fecha">
    </label>
    <label class="Horas_totales">
      <input class="form-control" type="text" placeholder="horas taller" formControlName="Horas_totales">
    </label>
    <label class="Horas_montaje">
      <input class="form-control" type="text" placeholder="horas montaje" formControlName="Horas_montaje">
    </label>
    <br><br>
    <!-- <label class="adjunto">
      <button type="button" class="btn btn-primary">Añadir adjunto</button>
    </label> -->
      <label class="conceptos"> 
        <textarea class="form-control-lg area" id="exampleFormControlTextarea1" rows="4" placeholder="Conceptos" formControlName="Descripcion"></textarea>
      </label>
      <label class="materiales"> 
        <textarea class="form-control-lg area" id="exampleFormControlTextarea2" rows="4" placeholder="Materiales" formControlName="Materiales"></textarea>
      </label>
      <label class="observaciones">
        <textarea class="form-control-lg area" id="exampleFormControlTextarea2" rows="4" placeholder="Observaciones" formControlName="Observaciones"></textarea>
      </label>

      <br><br>
      <label class="">
        <button type="submit" class="btn completar" (click)="nomostrar()">Completar</button>
      </label>
      <label class="">
        <button type="button" class="btn completar" (click)="clear()">Borrar Todo</button>
      </label>
     
  </form>